<footer>
    <p>______________________________________________________________________</p>
    <div class="site-footer">
        <p><sub>We do not condone the actions of our more evil brethren</sub></p>
        <p><sub>Copyright &copy; Govt of Hell, 2024</sub></p>
    </div>
</footer>