<nav>
    <div class="site-title">
        <a href="/"><h1>Doom's Gate</h1></a>
        <p>A hell only service</p>
    </div>
    <ul>
        <li><a href="/">Hades</a></li>
        <li><a href="/about">Testaments</a></li>
        <li><a href="/blogs/create">New passages</a></li>
    </ul>
</nav>